body {
    background-color: #f9fafc ;
    font-weight: normal,800;
    font-family: 'Open Sans', sans-serif;
}
h5{
    font-size: small;
    margin-bottom: 8px;
}
h4 {
    margin-top: 20px;
    font-size: xx-large;
    margin-bottom: 17px;
}
.vertical-menu{
    width: 147px;
    padding: 1px;
    margin-bottom: 13px;
}
.vertical-menu a {
    background-color:  #f9fafc;
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.circle {
    overflow: hidden;
    display: none;
    line-height: 16px;
    border-radius: 100%;
    box-sizing: border-box;
   }
   #one {
    width: 72px;
    height: 72px;
    margin-left: 846px;
    margin-bottom: -4px;
    margin-top: 39px;
    padding: 45px;
    background-color: rgba(207, 130, 213, 0.6);
}
   #two {
    width: 72px;
    height: 72px;
    margin: 77px;
    margin-top: -30px;
    margin-left: 828px;
    margin-bottom: 94px;
    padding: 57px;
    background-color: rgba(247, 193, 162, 0.7);
   }
   #three {
    width: 72px;
    height: 72px;
    padding: 96px;
    margin-top: -297px;
    margin-left: 675px;
    background-color: rgba(247, 136, 167, 0.6);
   }
.btn {
    border: none; 
    background-color: black;
    color: white; 
    padding: 10px 28px; 
    cursor: pointer;
    border-radius: 15px;
    width: 302px;
}
 .scrolldown {
    margin-left: 23px;
    margin-top: 10px;
}
 .vl {
    border-left: 2px solid #69696a;
    height: 213px;
    position: static;
    left: 50%;
    margin-left: 4px;
    top: 0;
    padding-left: 20px;
}
p{
        margin-left: 19px;
        display: block;
        width: 320px;        
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
}
@media screen and (min-width: 40.5em) {
    .product-img {
      width: 50%;
      float: left;
    }
  }
  @media screen and (min-width: 825px) {
    .circle {
       display: block;
       }
    }